@charset "UTF-8";

.key {
  margin-bottom: 317px;
}
.key-inner {
  width: 120rem;
  height: 46rem;
  color: #fff;
  background: url(../img/IMG_01.png) no-repeat center/cover;
  position: relative;
  margin: 0 auto;
}
.key-title {
  position: absolute;
  font-size: 5rem;
  top: 19.3rem;
  left: 16.9rem;
  font-weight: normal;
}
.key-img {
  width: 43.5rem;
  position: absolute;
  right: 11rem;
  top: -4.8rem;
}
.key-text {
  width: 43.5rem;
  line-height: 1.5;
  margin: 60px 0 0 110px;
}

.about-first {
  position: relative;
  margin-bottom: 440px;
  width: 1400px;
}
.about-orange {
  background: linear-gradient(111deg, #F59050 0%, #ED5A1B 100%);
  width: 900px;
  height: 400px;
  margin-left: auto;
  padding: 70px 100px;
}
.about-text {
  width: 66rem;
  background-color: #fff;
  padding: 70px 100px;
  margin-left: auto;
  box-sizing: border-box;
}
.about-img {
  width: 64rem;
  position: absolute;
  top: 143px;
}

/* 要素ゾーン */
.main {
  padding-top: 13.6rem;
  width: 1400px;
  margin: 0 auto;
}

/* tailwind zone */
.fixed { position: fixed; }
.w-full { width: 100%; }
.mb-60 {margin-bottom: 60px}
.mb-32 {margin-bottom: 32px}

