@charset "UTF-8";

/* --- base --- */
body {
  font-family: "Hiragino Kaku Gothic ProN";
  color: #707070;
  background-color: #fff;
  line-height: 1;
  margin: 0 auto;
  position: relative
}

html {
  font-size: 62.5%
}

main {
  font-size: 1.6rem;
}

img {
  vertical-align: bottom
}

a {
  color: #707070;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style-type: none
}

.pt59 {
  padding-top: 5.9rem;
}

.employee-talk {
  color: #fff;
  margin: 0 auto;
  max-width: 1200px;
  height: 41.7rem;
  padding-top: 59px;
}

.employee-talk-bk-orange {
  position: relative;
  max-width: 981px;
  background: linear-gradient(155deg, #F59050 0%, #ED5A1B 100%);
  opacity: 1;
  padding: 108px 813px 82px 186px;
}


h1 {
  font-size: 5.0rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.employee-talk-title-content {
  width: 20.0rem;
  height: 18.0rem;
  text-align: center;
}

.employee-talk-subtitle {
  font-size: 2.0rem;
  margin-top: 0;
}

.employee-talk-btn {
  margin-top: 5.0rem;
}

.employee-talk-btn a {
  width: 100%;
  padding: 2.6rem 5.5rem 2.7rem;
  background-color: #fff;
  border-radius: 25rem;
  color: #F26022;
}

.employee-talk-top-img {
  background: url(../img/IMG_08.png) no-repeat center/cover;
  position: absolute;
  top: 60px;
  right: 219px;
  width: 682px;
  height: 357px;
}

.mb60 {
  margin-bottom: 60px;
}

.fw-normal {
  font-weight: normal;
}

.l-header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding-inline-start: 0px;
  font-size: 2.0rem;
}

.l-header__nav-list li {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

.character-lists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}

.character-list {
  width: 300px;
}

.character-list-text {
  text-align: left;
}

.character-list-name {
  font-size: 2rem;
}

.table-of-contents {
  background-color: #F8F8F8;
  padding: 40px 0 55px;
  margin-bottom: 65px;
}

.table-of-contents-title {
  font-size: 2rem;
  margin: 0;
}

.table-of-contents-text {
  max-inline-size: max-content;
  margin-inline: auto;
  text-align: left;
}

.table-of-contents-text li {
  position:relative;
  margin-top: 4rem;
}

.table-of-contents-text li::before {
  position: absolute;
  content:'';
  top: 2px;
  left: -26px;
  height:0;
  width:0;
  border-style: solid;
  border-width: 6px 0 6px 9px;
  border-color: transparent transparent transparent #F26022;
}

.inspire-number {
  font-size: 5rem;
  color: #F26022;
  font-weight: bold;
  margin: 0;
  font-family: "Geeza Pro";
}

.inspire-number-border {
  margin: 0 auto 20px ;
  width: 1px;
  height: 25px;
  background-color: #F26022;
}

.inspire-title {
  margin-bottom: 73px;
  font-size: 2.2rem;
  font-weight: normal;
}

.inspire-contents {
  padding-bottom: 65px;
}

.inspire-content {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-bottom: 50px;
}

.inspire-member-left-img,
.inspire-member-left-name {
  margin-right: 75px;
}

.inspire-member-right-img,
.inspire-member-right-name {
  margin-left: 75px;
}

.inspire-member_text {
  text-align: left;
  margin: 0;
}

.inspire-member_subtext {
  margin: 0;
}

.job-description {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 50px;
}

.job-description-img {
  margin-right: 69px;
}

.job-description-text {
  text-align: left;
}

.job-description-text p {
  margin: 0;
}

.bg-gray {
  background-color: #F4F4F4;
}

.work-content-example-outer {
  margin-bottom: 50px;
}
.work-content-example {
  padding: 35px 0 65px;
}

.work-content-example-title {
  font-size: 2rem;
}

.work-content-example-text {
  text-align: left;
  padding-bottom: 26px;
  line-height: 2.5;
}

.work-content-example-contents {
  display: flex;
  justify-content: space-around;
}

.work-content-example-content {
  background-color: #fff;
}

.work-content-example-content-text {
  font-size: 1.7rem;
  margin: 25px 0 0;
}

.work-content-example-sub-contents {
  display: flex;
  justify-content: space-around;
  padding: 16px 43px 22px 80px;
}

.work-content-example-sub-content-img01 {
  padding: 12px 0;
}

.work-content-example-arrow-right {
  position: relative;
  display: inline-block;
  padding: 0 53px;
}

.work-content-example-arrow-right::before {
  content: '';
  width: 12px;
  height: 12px;
  border-top: solid 2px #F26022;
  border-right: solid 2px #F26022;
  position: absolute;
  left: 42px;
  top: 54px;
  transform: rotate(45deg);
}

.work-content-example-content02 {
  background-color: #fff;
  padding: 25px 99.5px 27px;
}

.work-content-example-content02-text {
  margin: 0 0 22.5px;
}

.work-content-example-content02-subtext {
  margin-top: 20.5px;
}


.latter-part-btn {
  border: 1px solid #F26022;
  border-radius: 35px;
  padding: 28px 60px;
  color: #F26022;
}

.arrow-right {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  border-top: 1px solid #F26022;
  border-right: 1px solid #F26022;
  transform: rotate(45deg);
}

.latter-part-btn-content {
  padding-bottom: 65.5px;
}

.inquiry-outer {
  padding: 72px 0 111px;
}

.bg-white {
  background-color: #FFFFFF;
  padding: 28px 0 33px;
}

.inquiry-text {
  margin-bottom: 41px;
}

.inquiry-btn-content {
  display: flex;
  justify-content: center;
}

.inquiry-btn {
  border: 1px solid #F26022;
  border-radius: 76px;
  padding: 28px 60px;
  color: #F26022;
}


.c-btn {
  display: inline-block;
  background: #ff1200;
  background: linear-gradient(90deg, #ff4200 0, #ff8a00 100%);
  border-radius: 6.5rem;
  position: relative;
  box-sizing: border-box;
  width: 94rem;
  box-shadow: 1.2rem 1.2rem 2.2rem 0 rgb(0 0 0 / 20%);
}

.c-btn .child {
  transition: all .2s linear;
  transition: all .3s linear;
  display: table;
  box-sizing: border-box;
  width: 100%;
  border-radius: 6.5rem;
  padding: 2.9rem 1.4rem 3.6rem;
  text-align: center;
}

.c-btn .arrow {
  position: relative;
  left: 17.5rem;
}

.arrow::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border: 0;
  border-top: solid 0.6rem #fff;
  border-right: solid 0.6rem #fff;
  transform: rotate(45deg);
  position: absolute;
  top: calc(50% - 2rem);
  left: 0;
}

.inquiry-form-btn a {
  color: #FFFFFF;
  padding: 20px 46px 21px;
  background-color: #F26022;
  border: 1px solid #F26022;
  border-radius: 76px;
  display: inline-block;
}

.inquiry-form-btn a:hover {
  background: #fff;
  color: #ff701e;
}

.engage-inquiry-form-btn a {
  padding: 22px 80.5px;
  color: #F26022;
  border: 1px solid #F26022;
  border-radius: 76px;
  display: inline-block;
}

.engage-inquiry-form-btn a:hover {
  background-color: #F26022;
  color: #fff;
}